/GNUmakefile
/build/
/build-*/
/.cache/
/.vscode/
/.idea/
/.direnv/
/.venv/
/.antigravitycli/
.DS_Store
*.pyc
__pycache__/
*.pem
*.key
*.env
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
